@import "./base.css";

#app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  #app {
    padding: 1rem;
  }
}

button {
  cursor: pointer;
  color: var(--color-background);
  border: 1px solid var(--color-text);
  background: var(--color-text);
  box-shadow: none;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  transition: all 0.3s ease-in;
}

button:active:not(:disabled) {
  box-shadow: none !important;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

input:not(.xar-otp-input),
select,
option,
textarea {
  color: currentColor;
  border: 1px solid var(--color-text);
  background: transparent;
  box-shadow: none;
  padding: 1rem 1.5rem;
  outline-color: var(--color-primary);
  transition: all 0.15s ease-in;
  border-radius: 20px;
  font-size: 1rem;
}

button:not(.tab) {
  padding: 1rem 1.5rem;
  border-radius: 20px;
  font-weight: 600;
}

input:focus,
select:focus,
textarea:focus,
option:focus {
  outline-color: var(--color-primary);
  border-color: var(--color-primary);
}

.hide {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.show {
  opacity: 1;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

textarea {
  resize: vertical;
}

.form-group label {
  font-weight: 500;
  font-size: 12px;
}

.mt-1 {
  margin-top: 1.25rem;
}

.tab {
  border: 1px solid var(--color-border);
  color: var(--color-text);
  background: var(--color-background);
  transition: all 0.3s ease-in;
  border-radius: 0;
}

.tab.selected {
  color: var(--color-dark);
  background: var(--color-primary);
  box-shadow: none;
}

.xar-output {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .xar-output {
    flex-direction: column;
  }
}

.xar-output .code {
  border-radius: 20px;
}

.xar-output > * {
  flex-grow: 1;
  border: 1px solid var(--color-border);
  padding: 0.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.xar-output h4 {
  padding: 0 0.25rem 0.25rem;
  font-weight: 600;
  border-bottom: 2px solid var(--color-light-2);
  width: max-content;
}

.xar-output hr {
  margin: 0;
  border: none;
  border-top: 1px solid #777;
}

pre {
  overflow-x: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 13px;
  background-color: var(--color-text);
  color: var(--color-background);
  overflow-wrap: anywhere;
  flex-grow: 1;
}

.code {
  padding: 1rem;
  background: var(--color-text);
  color: var(--color-background);
}

.hljs {
  background: var(--color-text) !important;
}

code.hljs {
  padding: 0 !important;
  margin: 1.25rem 0 0.5rem !important;
}

.pink {
  color: var(--color-primary);
}

strong {
  font-weight: 600;
}

@media (hover: hover) {
  button:hover:not(:disabled) {
    box-shadow: 2px 4px 2px 1px var(--color-light-2);
    color: var(--color-primary);
    border-color: var(--color-primary);
    background: var(--color-background);
  }

  .tab:hover:not(:disabled) {
    color: var(--color-background);
    background: var(--color-text);
    box-shadow: none;
    border-color: var(--color-text);
  }

  .tab.selected:hover:not(:disabled) {
    color: var(--color-dark);
    background: var(--color-primary);
  }
}

button:focus-visible:not(:disabled) {
  box-shadow: 2px 4px 2px 1px var(--color-light-2);
  color: var(--color-primary);
  border-color: var(--color-primary);
  background: var(--color-background);
}

.tab:focus-visible:not(:disabled) {
  color: var(--color-background);
  background: var(--color-text);
  box-shadow: none;
  border-color: var(--color-text);
}

.tab.selected:focus-visible:not(:disabled) {
  color: var(--color-dark);
  background: var(--color-primary);
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
  }
}
